body{
    margin: 0;
    background-color: $main-color;
    font-family: $main-fonts;
}

* {
    box-sizing: border-box;
}

header, section, footer{
    width: 100%;
}

.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}